# ~/.inputrc

$include /etc/inputrc

set bell-style none

set bell-style none
set echo-control-characters off
set show-all-if-unmodified on
# set colored-stats on
# set visible-stats on
set mark-symlinked-directories on
set colored-completion-prefix 0
set menu-complete-display-prefix on
set keyseq-timeout 1

set completion-ignore-case on
set show-all-if-ambiguous on
set show-all-if-unmodified on

set echo-control-characters off
set keyseq-timeout 1

set menu-complete-display-prefix on

# set show-mode-in-prompt on
# set vi-cmd-mode-string "\1\e[2 q\2"
# set vi-ins-mode-string "\1\e[6 q\2"


set editing-mode vim
$if mode=vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[2 q\2

"\t": menu-complete
"\e[Z": menu-complete-backward
"\C-l": clear-screen

 set keymap vi-command
"k": history-search-backward
 "j": history-search-forward
$endif
